@keyframes shimmer {
  from {
    background-position: -468px 0;
  }

  to {
    background-position: 468px 0;
  }
}

.shimmer_container {
  background: rgb(var(red));
  background-image: linear-gradient(
    to right,
    rgb(var(--shimmer-color1)) 0%,
    rgb(var(--shimmer-color2)) 20%,
    rgb(var(--shimmer-color3)) 40%,
    rgb(var(--shimmer-color4)) 100%
  );
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  border-radius: 2px;
}
