.container {
  color: rgb(var(--primary-color));
  background-size: contain;
  height: 500px;
  width: 800px;
  background-position: right;
  height: 500px;
  background-repeat: no-repeat;
}

.dev_name {
  margin-bottom: 24px;
  font-size: 36px;
  letter-spacing: -0.01em;
}

.welcome_message {
  font-family: sans-serif, math;
  color: #687076;
  text-align: justify;
  font-weight: 550;
  font-size: 18px;
  width: 500px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.connection_message {
  font-family: sans-serif, math;
  color: rgb(var(--tertiary-color));
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  margin-top: 20px;
}

.connect_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.link {
  color: rgb(var(--tertiary-color));
  cursor: pointer;
  &:hover {
    color: rgb(var(--primary-color));
  }
}
