.button_container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.user_description {
  font-size: 10px;
  color: rgb(var(--tertiary-color));
}

.first_row_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.dropdown_container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 0px 0px;
  align-items: center;
}

.dropdown_style {
  margin: 0px !important;
}

.dropdown_label {
  font-size: 16px;
  color: rgb(var(--tertiary-color));
}

.button {
  width: 100px;
}
