.board_icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--background-2));
  color: rgb(var(--secondary-color));
}

.board_name_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
  color: rgb(var(--tertiary-color));

  &:hover {
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
  }
}

.board_icon_name_container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.board_name {
  width: 102px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected_board {
  background-color: rgb(var(--secondary-color));
  color: rgb(var(--primary-color));
  box-shadow: var(--shadow-1);
  width: 170px;
}

.dashboard_pages_container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 250px;
  overflow: auto;
  width: 185px;
}
